#jogoVelha{
    width:603px;
    height:600px;
    border:solid 3px
}
.quad{
    width:200px;
    height:100%;
    border-right:solid 1px;
    float:left;
    text-align: center;
}


.bg{
    background-color: darkgrey;
    color: antiquewhite;
}
 
.line{
    height:200px;
    border-bottom:solid 1px;
}


.ajeitar{
    margin: auto;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: grey;
}
